.count-regulation__button-minus {
  position: relative;
  width: 27px;

  flex-shrink: 0;

  &::before {
    position: absolute;
    .size(12, 2);

    top: 15px;
    left: 7px;

    content: '';
    background-color: @black;
  }
}


.count-regulation__button-plus {
  position: relative;
  width: 27px;

  flex-shrink: 0;

  &::before,
  &::after {
    position: absolute;
    .size(12, 2);

    top: 15px;
    left: 7px;

    content: '';
    background-color: @black;
  }

  &::after {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
  }
}

.count-regulation__value {
  width: 25px;
  border: 0;

  flex-shrink: 0;

  text-align: center;
  font-weight: 700;
  color: @black;

  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.count-regulation__button-minus,
.count-regulation__button-plus,
.count-regulation__value {
  &:hover {
    background-color: rgba(@grey-in-rgb, 0.1);
  }

    &:active {
      &::after,
      &::before {
      background-color: rgba(@grey-in-rgb, 0.7)
    }
  }
  }

