.page-header {
  margin: @mobile-gap @mobile-gap 0 @mobile-gap;
  margin-bottom: 41px;
  min-width: 288px;

  position: relative;

}

.page-header__navigation {

}

.page-header__logo {
  position: absolute;
  display: block;

  top: 3px;
  left: 50%;
  transform: translateX(-50%);
}





